html {
  font-size: 20px;
  line-height: 1.6;
  font-family: Roboto, sans-serif;
}

.out{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 400px ;
}
img {
  width: 100%;
  max-width: 100%;
}
